<section class="bg-light">
	<div class="container section">
		<div class="content has-text-centered">
			<h1>Frequently Asked Questions</h1>
		</div>

		<div class="columns is-centered is-multiline">
			{#each someQuestions(questions, nQuestions) as q}
				<FAQElement {...q}/>
			{/each}
		</div>

		{#if nQuestions}
			<div class="has-text-centered">
				<a class='button is-medium' href='/faq'>More FAQs</a>
			</div>
		{/if}

	</div>
</section>

<script>
	export default {
		helpers: {
			someQuestions(qs, nqs) {
				return qs.slice(0, nqs)
			}
		},
		data: () => ({
			questions: [
				{
					q: "What is a quad tandem?",
					a: "A quad tandem is a four person bike, where all four riders are sat in a straight line. Check out our logo!",
					img: "imgs/quad_tandem_icon.svg",
				},
				{
					q: "How will you manage donations to each charity?",
					a: "JustGiving is used for TWLoHA and MHR UK, allowing you to donate directly to the charity through their secure online platform. Heads Up Guys has their own designation at the university of British Columbia, and so our link sends you straight there.",
				},
				{
					q: "I’ve heard that Jeff’s beard is fake, like a mall Santa. Is it true?",
					a: "	The foundation cannot comment on the individual grooming habits of any of the participants.",
				},
				{
					q: "Am I paying for your holiday?",
					a: "No. All donations through this site go directly to the end charities. Some corporate sponsors are helping out, but if you didn’t sign up to support the race itself then you’re sending money directly into the bank account of either Mental Health Research UK, TWLoHA, or Heads Up Guys.",
				},
				{
					q: "Where can I see your progress and stay up to date?",
					a: "Facebook and Instagram! Click on the big icons at the bottom of every page.",
				},
				{
					q: "Is donating the only way to help?",
					a: "No! Following us and helping to share our stuff on social media is extremely helpful, especially if you can comment to tell us how stupid and/or wonderful we are.",
				},
				{
					q: "I’m in corporate PR, and I want my logo on your jerseys and/or bike. Can that happen?",
					a: "There might be space left! Get in touch ASAP and we’ll see what we can do.",
				},
				{
					q: "Why are there three charities?",
					a: "So we’re not super nationalistic (well, apart from Sam), but it’s much more tax efficient to donate to a local charity - for both you and the charity. That’s why we’ve got one charity for each nation involved.",
				},
				{
					q: "Does the person on the back pedal?",
					a: "Yes. Or at least we think so. We’ve been considering an elaborate system of mirrors. They also get asked this a lot, so tend to be very insecure about it.",
				},
				{
					q: "Do you guys change spots on the bikes?",
					a: "Not very often - once you settle into the routine you tend to stick to it,  because each of the positions requires a subtly different set of skills.",
				},
				{
					q: "Are you guys still friends?",
					a: "Mostly. Rumours surrounding the great syrup schism of 2016 have primarily been fabricated by opponents of the Foundation.",
				},
				{
					q: "Are you guys serious?",
					a: "Please study the following image closely:",
					img: 'imgs/tutu.jpg'
				},
			]
		}),
		components: {
			FAQElement: './FAQElement.html',
		}
	}
</script>