

<section id="hero" class="hero is-landing is-large blur-bg">
	<Nav segment='index' transparent="transparent"/>
	<div class="hero-body">
		<div class="container has-text-centered">

			<div class="columns is-centered">
				<div class="column is-8" bind:clientWidth>
					<h1 class='big-1 has-text-weight-bold'>
						Quad Tandem
					</h1>
					<h1 class='big-2 has-text-weight-bold'>
						World Championships
					</h1>
					<h2 class="subtitle is-5" style="margin-bottom:0rem;">
						All funds raised go directly to:
					</h2>
				</div>
			</div>
			<div class="columns is-centered is-vcentered is-gapless is-multiline is-mobile" style="margin-bottom: 1.5rem;">
				{#each charities as c}
					<div class="column is-narrow">
						<a class='cause-img' href="{c.site}"><img class='cause-img' alt="{c.cause}" src="{c.causeImage}"/></a>
					</div>
				{/each}
			</div>
		</div>
		<div class="columns is-centered is-mobile">
			<div class="column is-narrow">
				<a class='button is-large hero-button' href='{donationTarget}'>Donate Now</a>
			</div>
		</div>
		<div class="vertical-space"></div>
	</div>
</section>

<style>

	.hero-button {
		background-color: #899ab3;
	}

	#hero {
		background-color: #7696bc;
		background-image: url('imgs/padded-arm-up.jpg');
		background-size: 100%;
    background-repeat: no-repeat;
		background-position: bottom 0 left 0;
	}

	#section-below-hero {
		height: 0rem;
		display: block;
		position: relative;
	}

	#hero-img {
		position: relative;
		width: 100%;
		/* z-index: -1; */
		bottom: calc(75.5vw + -0.5rem);
		filter: blur(0.175vw);
	}

	.big-1 {
		font-size: 8.5vw;
	}

	.big-2 {
		font-size: 7vw;
	}

	@media(min-width: 630px) {
		.big-1 {
			font-size: 4rem;
		}

		.big-2 {
			font-size: 3.5rem;
		}
	}

</style>

<script>




	import { charities } from '../charities';
	import { getUrlParam, getDonationTarget } from '../utils';
	export default {
		oncreate() {
			this.set({focus: getUrlParam('focus')})
		},
		data: () => ({
			charities,
		}),
		components: {
			Nav: '../components/Nav.html',
		},
		computed: {
			donationTarget: ({focus}) => {
				return getDonationTarget(focus)
			}
		},
	}
</script>