<section class="bg-white">
  <div class="container section">
    <div class="columns is-vcentered">
      <div class="column">
        <figure class="image">
          <img src="imgs/lost-people.jpg" alt="">
        </figure>
      </div>
      <div class="column ">
        <div class="content">
          <h1>How can I help?</h1>
          <p>Likes and shares on social media give us a huge boost - especially if you can customise your message a little. We're on Facebook and Instagram, and so following us on there+sharing our stuff is by far easiest way to help out.
          </p>

          <a href="" class="button is-danger">Social Media</a>
        </div>

      </div>
    </div>
  </div>
</section>